#page {
  width: 798px;
  margin: 0 auto;
  min-height: auto;
  padding: 0px;
  background: #5ba687 left top;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  font-family: "MS UI Gothic";
  color:#455951;

}


body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px
}
